backend:
  name: git-gateway
  repo: juliendargelos/nuxt-netlify-cms-starter-template

site_url: https://juliendargelos-nuxt-netlify-cms-starter-template.netlify.com
media_folder: static/uploads
public_folder: /uploads

collections:
  - label: Settings
    name: settings
    extension: md
    files:
      - label: Website
        name: website
        file: {{rootPath}}content/settings/website.md
        fields:
          - { label: Title, name: title, required: true, widget: string }
          - { label: Description, name: description, required: true, widget: string }

  - label: Pages
    label_singular: Page
    name: pages
    extension: md
    files:
      - label: Home
        name: home
        file: {{rootPath}}content/pages/home.md
        fields:
          - { label: Content, name: body, widget: markdown }
      - label: About
        name: about
        file: {{rootPath}}content/pages/about.md
        fields:
          - { label: Title, name: title, required: true, widget: string }
          - { label: Content, name: body, widget: markdown }

  - label: Posts
    label_singular: Post
    name: posts
    folder: {{rootPath}}content/blog/posts
    create: true
    extension: mds
    slug: '{{interpolated 'year'}}-{{interpolated 'month'}}-{{interpolated 'day'}}-{{interpolated 'slug'}}'
    fields:
      - { label: Title, name: title, required: true, widget: string }
      - { label: Description, name: description, required: true, widget: text }
      - { label: Publish date, name: date, widget: datetime }
      - { label: Content, name: body, widget: markdown }
